<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
		<title>Nerd Names v0.1</title>
		<!-- Meta tags for Open Graph -->
		<meta property="og:title" content="Nerd Names v0.1" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ url_for('main.index') }}" />
	</head>
	<body>
		<h1>Hey u up?</h1>
	</body>
</html>
